* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.divGrande>.imgGrande {
    background-color: rgb(10, 10, 10);
    height: 79vh;
    width: 30vw;
    margin-top: 2vh;
}

.img {
     background-color: black; 
    height: 25vh;
    width: 12.00vw;
margin-top: 2vh;

}

.imagens {
    display: flex;
    gap: 1vw;
   justify-content: left;
}

.tudo {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;
    
}

.infos {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    flex: 0.5;
    margin-left: 10vw;
}

input[type="number"],button{
    padding: 10px;
    flex: 1;
    margin: 20px;
    text-align: center;
}
button{
    background-color: black;
    color: white;
}
button:hover{
    transition-duration:0.5s ;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius:10px ;
    border: solid 2px rgba(0, 0, 0, 0);
    
}