*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {

    background-color: floralwhite;
    font-family:Arial, Helvetica, sans-serif;
   
}
nav {
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: #202020;
    padding: 30px;
    line-height: 10px;

    }

.nav-itens {
    justify-content: left;
display: flex;
font-size: 20px;
list-style-type:none;
text-decoration: none;
transition: 0.5s;
}
.menu:hover{
    transition-duration: 0.3s;
    font-size: 1.2em;
}
.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration: none;
    
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
}

.tabela {
 display: flex;
 justify-content: center;
 gap: 24.5vw;



}
.tabela > span {
    display: flex;
    justify-content: space-around;
    word-spacing: 32vw;
   
   
   }




#carrinho{
    border: solid 1px black;
}
