 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
 }
body {
    background-color: floralwhite;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #202020;
    background-color: rgb(192, 94, 45);
    padding: 25px;
    line-height: 10px;
    }

.nav-itens {
list-style:  none;
display: flex;
font-size: 20px;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration:none ;
    list-style:  none;
}
.logo {
    font-weight: 800;
    font-size: 25px;
}
#imgC {
  margin-right: 3vw;

}
.btn>a {
    text-decoration:none ;
    list-style:  none;
color: #fff;
}
button>a {
    text-decoration:none ;
    list-style:  none;
color: #fff;
}
.login {
    text-decoration:none ;
    list-style:  none;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #202020;
    border: none;
    color: #fff;
    border-radius: 5px;

}
.cadastro {
    text-decoration:none ;
    list-style:  none;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#carrinho {
    text-decoration:none ;
    list-style:  none;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 5px;
}
 .cards {
    display: flex;
   justify-content: center;
}
.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
margin: 2vh;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner img {
    height: 400px;
    width: 800px;
    margin-left: 30vw;
  
}
.modelos {
    display: flex;
    justify-content: center;
}

.card {
    text-align: center;
    color: #141414;
    height: 450px;
    width:340px;
    background-color: #202020;
    border-radius: 15px;
    margin : 60px;
   background-color: floralwhite;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#moletom {
    border: 1px solid
}
#camisaBasica {
    border: 1px solid
}
#moletomVerde {
    border: 1px solid
}
#imagem1 {
    margin : 20px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid

}
#imagem2 {
    margin: 20px;
    height: 300px;
    width: 250px;
  border-radius: 10px;
    border: 1px solid
}
#imagem3 {
    margin: 20px;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid
}
.comprar {
    font-weight: 600;
    border-radius: 10px;
    background-color: #202020;
    color: #fff;
border: none;
    margin: 3vh;
    text-align: center;
font-size: 17px;
padding: 10px 40px;
transition: 0.5s background;
cursor: pointer;
}
.comprar:hover {
    transition: 0.5s background;
    background-color: rgb(192, 94, 45);
}