 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
 }
body {
    background-color: floralwhite;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #202020;
    background-color: rgb(192, 94, 45);
    padding: 40px;
    line-height: 10px;
    }

.nav-itens {
list-style:  none;
display: flex;
font-size: 20px;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration:none ;
    list-style:  none;
}
.logo {
    font-weight: 800;
    font-size: 25px;
}
#imgC {
  margin-right: 3vw;

}
.btn>a {
    text-decoration:none ;
    list-style:  none;
color: #fff;
}
button>a {
    text-decoration:none ;
    list-style:  none;
color: #fff;
}
.login {
    text-decoration:none ;
    list-style:  none;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #202020;
    border: none;
    color: #fff;
    border-radius: 5px;

}
.cadastro {
    text-decoration:none ;
    list-style:  none;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 5px;
}
#carrinho {
    text-decoration:none ;
    list-style:  none;
    padding: 5px 15px;
    font-size: 15px;
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 5px;
}
 .cards {
    display: flex;
   justify-content: center;
}

.banner img {
    height: 420px;
    width: 800px;
    margin-top: 3vh;
    margin-left: 30vw;
}
.card {
    height: 400px;
    width: 500px;
    background-color: #202020;
    border-radius: 15px;
    margin : 70px;
   
  
}